################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestRepo/TestRepo/bin/Debug/net10.0
/TestRepo/.vs
